//Minicart in header
.minicart-wrapper {
  float: right;
  position: relative;
  margin-left: $global-margin * 2;
  top: $global-margin * 2;

  &.active {

    .label {
      color: darken($grey, 10%);
      background-color: transparent;
      padding-left: 0;
    }

    .block-minicart {

      display: block;
      background-color: $grey-light;
      border: 1px solid $grey;
      border-radius: $global-radius;
      color: $grey;
      padding: $global-padding;
      margin-left: $global-margin;
      position: absolute;
      right: $global-padding;
      top: $global-padding * 4;
      width: $global-padding * 20;
      z-index: 6;
    }
  }

  //Open cart/shopping cart button
  .showcart {

    @include icon($position: before, $icon-set: 'fa', $icon: shopping-basket) {
      display: inline-block;
      font-size: $global-font-size * 2;
      line-height: 1;
      vertical-align: top;
    };

    //removes default My Cart text
    > span {
      display: none;
    }
  }

  //Close button
  button {

    &.close {

      @include icon($position: before, $icon-set: 'fa', $icon: close) {
        vertical-align: top;
        position: absolute;
        top: $global-padding;
        right: $global-padding;
      };

      //removes default CLOSE text
      > span:first-child {

        font-size: 0;
      }
    }
  }

  .actions {

    .primary,
    .secondary {
      display: inline;
    }
  }

  ol {

    list-style: none;
  }
}
