// Page columns

// 2 column layouts
.page-layout-2columns-left,
.page-layout-2columns-right {

  .page-main {

    @include grid-column(12);

    .page-title {

      @include grid-column(12);
    }

    .column {

      .main {

        @include grid-column(12);

        @include breakpoint(medium) {
          @include grid-column(8);
        }
      }

      .sidebar {

        @include grid-column(12);

        @include breakpoint(medium) {
          @include grid-column(4);
        }
      }
    }

    &::after {
      clear: both;
    }
  }
}

// 1 column
.page-layout-1column {

  .page-main {

    @include grid-column(12);

    .page-title {

      @include grid-column(12);
    }

    .column {

      .main {

        @include grid-column(12);
      }
    }

    &::after {
      clear: both;
    }
  }
}
