// Page Footer
footer {

  @include grid-column(12);
  background-color: rgba($grey, 0.1);
  padding: $global-padding;

  .footer.content {

    padding: 0 ($global-padding * 4);
  }

  .block.newsletter {

    @include grid-column(12);

    @include breakpoint(medium) {
      @include grid-column(5);
      float: right;
    }
  }

  .footer.links {
    display: inline-block;
    vertical-align: top;

    li {
      font-size: $global-font-size;
      margin: 0 0 8px;
      padding: 0;
    }
  }
}
