//Block Search from Header
.block-search {
  float: right;
  padding-left: 15px;
  position: relative;
  width: 250px;
  z-index: 4;

  .block-title {
    font-size: 0;
  }

  input {
    border: 1px solid darken($grey, 5%);
    border-radius: $global-radius;
  }
}

//Autocomplete search results
.searchautocomplete__autocomplete {

  ul {
    list-style: none;

    li {

      img {

        display: block;
        margin: 0 auto;
      }
    }
  }
}
