//Table styles - used in Magento 2
table {

  border: 1px solid $grey-light;
  text-align: left;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;

  caption {

    text-align: left;
    padding-left: 0;
  }
}
