//Icon fonts - using the Luma Icon Set from Magento.
@font-face {
  font-family: 'luma-icons';
  src: url('../fonts/Luma-Icons.eot');
  src: url('../fonts/Luma-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Luma-Icons.woff2') format('woff2'), url('../fonts/Luma-Icons.woff') format('woff'), url('../fonts/Luma-Icons.ttf') format('truetype'), url('../fonts/Luma-Icons.svg') format('svg');
}
