//Product Action Icons - Edit or remove actions using icons in place of text links.

//Edit and Remove Item buttons/links turned to icons.
// -delete and -edit are from main cart with .delete and .edit from minicart

.product.actions,
.item-actions {

  .action.delete,
  .action.edit,
  .action-delete,
  .action-edit {

    display: inline-block;

    &:hover {

      color: $red;
    }

    span {

      display: none; //removes default edit and remove text block
    }
  }

  //edit item in cart icon
  .action.edit,
  .action-edit {

    @include icon($position: before, $icon-set: 'fa', $icon: edit) {
      display: inline-block;
    };
  }

  //delete / remove item from cart icon
  .action.delete,
  .action-delete {

    @include icon($position: before, $icon-set: 'fa', $icon: delete) {
      display: inline-block;
    };
  }
}
